<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="/favicon.ico" >
	<link rel="Shortcut Icon" href="/favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/html5shiv.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/respond.min.js"></script>
	<![endif]-->
	<!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui.admin/css/style.css" />

	<link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.5/css/bootstrap.min.css">

	<title>添加档案</title>

</head>
<body>

<article class="page-container">
	<ul class="nav nav-tabs">
		<if condition="empty($recordId)">
				<li role="presentation" class="active"><a href="#">添加基本信息</a></li>
				<li role="presentation"><a id="addImg" href="javascript:alert('请先添加基本信息！')">添加相册</a></li>
				<li role="presentation"><a id="addWork" href="javascript:alert('请先添加基本信息！')">添加工作经验</a></li>
				<li role="presentation"><a id="addEducation" href="javascript:alert('请先添加基本信息！')">添加教育经验</a></li>
			<else />
				<li role="presentation" class="active"><a href="addBasic.html?recordId={$recordId}">添加基本信息</a></li>
				<li role="presentation" id="addImg"><a href="addImg.html?recordId={$recordId}">添加相册</a></li>
				<li role="presentation"><a  id="addWork" href="workExperience.html?recordId={$recordId}">添加工作经验</a></li>
				<li role="presentation"><a  id="addEducation" href="eduExperience.html?recordId={$recordId}">添加教育经验</a></li>
		</if>

	</ul>
	<form action="" method="post" class="form form-horizontal" id="form-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['name']}" placeholder="" id="name" name="name" >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div id="sex" class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" type="radio" id="sex-1" value="1">
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input name="sex" type="radio" id="sex-2" value="0" name="sex">
					<label for="sex-2">女</label>
				</div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>年龄：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  type="text" class="input-text" value="{$record['age']}" placeholder="" id="age" name="age">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['cellphone']}" placeholder="" id="cellphone" name="cellphone">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>座机号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['cellphone']}" placeholder="" id="telphone" name="telphone">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['email']}"  placeholder="@" name="email" id="email">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>现居住地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="province1"></select><select name="city1"></select><select name="area1"></select>
				<input type="text" class="input-text" value="{$record['live_address']}" name="live_address" id="live_address">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>QQ：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['qq']}" name="qq" id="qq">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>微信：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['wechat']}" name="wechat" id="wechat">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>籍贯：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="province2"></select><select name="city2"></select><select name="area2"></select><br>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>出生日期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" onfocus="WdatePicker({lang:'zh-cn'})" id="birthday" name="birthday" class="input-text Wdate"  value="{$record['birthday']}" style="width:180px;">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>身高(厘米)：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['height']}" name="height" id="height">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>专业：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['major']}"  name="major" id="major">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>爱好：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['hobby']}" name="hobby" id="hobby">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>特长：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['specialty']}" name="specialty" id="specialty">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">个人简介：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="profile" id="profile" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" ></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/500</p>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>英语能力：</label>
			<div id="English_level" class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="English_level" type="radio" id="English_level-1">
					<label for="English_level-1">一般</label>
				</div>
				<div class="radio-box">
					<input type="radio"  name="English_level-2" id="English_level-2">
					<label for="English_level-2">良好</label>
				</div>
				<div class="radio-box">
					<input name="English_level" type="radio" id="English_level-3">
					<label for="English_level-3">熟练</label>
				</div>
				<div class="radio-box">
					<input type="radio"  name="English_level-4" id="English_level-4">
					<label for="English_level-4">精通</label>
				</div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>计算机能力：</label>
			<div id="computer_Level" class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="computer_Level" type="radio" id="computer_Level-1">
					<label for="computer_Level-1">一般</label>
				</div>
				<div class="radio-box">
					<input type="radio"  name="computer_Leve-2" id="computer_Level-2">
					<label for="computer_Level-2">良好</label>
				</div>
				<div class="radio-box">
					<input name="computer_Level" type="radio" id="computer_Level-3">
					<label for="computer_Level-3">熟练</label>
				</div>
				<div class="radio-box">
					<input type="radio"  name="computer_Level-4" id="computer_Level-4">
					<label for="computer_Level-4">精通</label>
				</div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>婚姻状况：</label>
			<div id="marital_status" class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="marital_status" type="radio" id="marital_status-1">
					<label for="marital_status-1">未婚</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="marital_status-2" name="marital_status">
					<label for="marital_status-2">已婚</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="marital_status-3" name="marital_status">
					<label for="marital_status-2">离异</label>
				</div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>民族：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['nation']}"  name="nation" id="nation">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>毕业院校：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['graduate_institutions']}" name="graduate_institutions" id="graduate_institutions">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>毕业时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" onfocus="WdatePicker({lang:'zh-cn'})" value="{$record['graduation_time']}" name="graduation_time" id="graduation_time" class="input-text Wdate" style="width:180px;">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>户口所在地：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="province3"></select><select name="city3"></select><select name="area3"></select><br>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>身份证号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$record['id_number']}" name="id_number" id="id_number">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>政治面貌：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select id="political_status">
					<option value="" selected="selected">请选择</option>
					<option value ="volvo">中共党员(含预备党员)</option>
					<option value ="saab">团员</option>
					<option value="opel">群众</option>
					<option value="audi">民主党派</option>
					<option value="audi">无党派人士</option>
				</select>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学历：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select id="degree">
					<option value="" selected="selected">请选择</option>
					<option value="5">大专</option>
					<option value="4">本科</option>
					<option value="3">硕士</option>
					<option value="1">博士</option>
					<option value="10">MBA</option>
					<option value="11">EMBA</option>
					<option value="12">中专</option>
					<option value="13">中技</option>
					<option value="7">高中</option>
					<option value="9">初中</option>
					<option value="8">其他</option>
				</select>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="remark"  id="remark" cols="" rows="" class="textarea"  value="{$record['remark']}" placeholder="说点什么...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/css/h-ui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/css/h-ui/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script language="javascript" src="__PUBLIC__/js/PCASClass.js"></script>
<script type="text/javascript" charset="utf8" src="__PUBLIC__/DataTables/media/js/jquery.dataTables.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__PUBLIC__/bootstrap-3.3.5/js/bootstrap.min.js"  crossorigin="anonymous"></script>

<script type="text/javascript">
    $(function(){
      $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-add").validate({
            rules:{


            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                //alert($("div[class='iradio-blue checked']").find("input").val());
                live_address=$("select[name='province1']").find("option:selected").text()+","
					+$("select[name='city1']").find("option:selected").text()+","
					+$("select[name='area1']").find("option:selected").text()
					+$("#live_address").val();
                native_place=$("select[name='province2']").find("option:selected").text()+","
                    +$("select[name='city2']").find("option:selected").text()+","
					+$("select[name='area2']").find("option:selected").text();
                registered_address=$("select[name='province3']").find("option:selected").text()+","
                    +$("select[name='city3']").find("option:selected").text()+","
                    +$("select[name='area3']").find("option:selected").text();
                //alert(live_address);
                $(form).ajaxSubmit({
                    data:{
                        sex:$("#sex div[class='iradio-blue checked']").find("input").val(),
                        live_address:live_address,
                        native_place:native_place,
                        English_level:$("#English_level div[class='iradio-blue checked']").parent().find("label").text(),
                        computer_Level:$("#computer_Level div[class='iradio-blue checked']").parent().find("label").text(),
                        marital_status:$("#marital_status div[class='iradio-blue checked']").parent().find("label").text(),
                        registered_address:registered_address,
                        political_status:$("#political_status").find("option:selected").text(),
                        degree:$("#degree").find("option:selected").text()
					},
					success:function (data) {
					    alert(data.resultMsg);
					    if(data.resultCode==1){
                            //设置上传图片、工作经验、教育背景的url
                            $("#addImg").attr('href','addImg?recordId='+data.recordId);
                            $("#addWork").attr('href','addWork?recordId='+data.recordId);
                            $("#addEducation").attr('href','addEducation?recordId='+data.recordId);
                            //重新绘制表格数据
                            window.parent.recordTable.ajax.reload();
						}

                    }
				});
            }
        });


        var recordId='{$recordId}';
        //alert(recordId);
		//修改时负责表单回显逻辑
        if(!isNaN(parseInt(recordId))){
            live_address="{$record['live_address']}";
            live_address=live_address.split(",");
            new PCAS("province1","city1","area1",live_address[0],live_address[1],live_address[2]);
            native_place="{$record['native_place']}";
            native_place=native_place.split(",");
            new PCAS("province2","city2","area2",native_place[0],native_place[1],native_place[2]);
            registered_address="{$record['registered_address']}";
            registered_address=registered_address.split(",");
            new PCAS("province3","city3","area3",registered_address[0],registered_address[1],registered_address[2]);

			$("div").removeClass("checked");
            switch("{$record['sex']}"){
				case "1":
				    $("#sex-1").parent().addClass("checked");
                case "0":
                    $("#sex-2").parent().addClass("checked");
			}

            switch("{$record['english_level']}"){
                case "一般":
                    $("#English_level-1").parent().addClass("checked");
                    break;
                case "良好":
                    $("#English_level-2").parent().addClass("checked");
                    break;
                case "熟练":
                    $("#English_level-3").parent().addClass("checked");
                    break;
                case "精通":
                    $("#English_level-4").parent().addClass("checked");
            }

            switch("{$record['computer_level']}"){
                case "一般":
                    $("#computer_Level-1").parent().addClass("checked");
                    break;
                case "良好":
                    $("#computer_Level-2").parent().addClass("checked");
                    break;
                case "熟练":
                    $("#computer_Level-3").parent().addClass("checked");
                    break;
                case "精通":
                    $("#computer_Level-4").parent().addClass("checked");
            }

            switch("{$record['marital_status']}"){
                case "未婚":
                    $("#marital_status-1").parent().addClass("checked");
                case "已婚":
                    $("#marital_status-2").parent().addClass("checked");
                case "离异":
                    $("#marital_status-3").parent().addClass("checked");
            }

            political_status="{$record['political_status']}";
            $("#political_status").find("option:contains('"+political_status+"')").attr("selected",true);
            degree="{$record['degree']}";
            $("#degree").find("option:contains('"+degree+"')").attr("selected",true);
            $("#profile").text("{$record['profile']}");
            $("#remark").text("{$record['remark']}");
		}
		else{
            new PCAS("province1","city1","area1");
            new PCAS("province2","city2","area2");
            new PCAS("province3","city3","area3");
		}

    });

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>