<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery/1.9.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="__PUBLIC__/bootstrap-3.3.5/js/bootstrap.min.js"  crossorigin="anonymous"></script>

    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__//webuploader/webuploader.css">
    <!--引入JS-->
    <script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.js"></script>
    <!--引人demojs-->
    <script type="text/javascript" src="__PUBLIC__/webuploader/upload.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/webuploader/style.css" />

</head>
<body>
<script>

</script>
    <!--导航菜单-->
    <ul class="nav nav-tabs">
        <li role="presentation"><a id="addBasic" href="addBasic.html?recordId={$recordId}">添加基本信息</a></li>
        <li role="presentation" id="addImg" class="active"><a href="addImg.html?recordId={$recordId}">添加相册</a></li>
        <li role="presentation"><a  id="addWork" href="addWork.html?recordId={$recordId}">添加工作经验</a></li>
        <li role="presentation"><a  id="addEducation" href="addEducation.html?recordId={$recordId}">添加教育经验</a></li>
    </ul>

    <div class="row" style="margin:10px 3px">
        <foreach name="imgs" item="img">
            <div class="col-xs-6 col-md-3" >
                <a href="#" class="thumbnail">
                    <img src="../../../upload/{$img}" alt="...">
                </a>
                <div class="caption">

                    <p><a href="javascript:void(0);" onclick="test()" class="btn btn-primary" role="button">删除</a> </p>
                </div>
            </div>
        </foreach>

        <!--<div class="col-xs-6 col-md-3" id="test">
            <a href="#" class="thumbnail">
                <img src="__PUBLIC__/webuploader/2.jpg" alt="...">
            </a>
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="javascript:void(0);" onclick="test()" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>-->

    </div>

    <!--图片上传-->
    <div id="wrapper">
        <div id="container">
            <!--头部，相册选择和格式选择-->

            <div id="uploader">
                <div class="queueList">
                    <div id="dndArea" class="placeholder">
                        <div id="filePicker"></div>
                        <p>或将照片拖到这里，单次最多可选300张</p>
                    </div>
                </div>
                <div class="statusBar" style="display:none;">
                    <div class="progress">
                        <span class="text">0%</span>
                        <span class="percentage"></span>
                    </div><div class="info"></div>
                    <div class="btns">
                        <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>