<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/DataTables/media/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="__PUBLIC__/DataTables/media/js/jquery.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="__PUBLIC__/DataTables/media/js/jquery.dataTables.js"></script>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/css/h-ui/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/css/h-ui/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__PUBLIC__/js/h-ui/lib/laypage/1.2/laypage.js"></script>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h-ui/static/h-ui.admin/css/style.css" />
</head>
<body>
<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <span class="btn btn-primary radius" onclick="product_add('添加产品','add.html')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加产品</span></span></div>
<!--第二步：添加如下 HTML 代码-->
<table id="table_id_example" class="display">
    <thead>
    <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>籍贯</th>
        <th>名族</th>
        <th>手机号</th>
        <th>政治面貌</th>
        <th>学历</th>
        <th>身份证号</th>
        <th>邮箱</th>
    </tr>
    </thead>

</table>
</body>
<script>
    $('#table_id_example').DataTable({
        //开启服务器模式
        serverSide: true,
        //数据来源（包括处理分页，排序，过滤） ，即url，action，接口，等等
        ajax: 'getList',
        columns: [
            { data: 'name' },
            { data: 'sex' },
            { data: 'age' },
            { data: 'native_place' },
            { data: 'nation' },
            { data: 'cellphone' },
            { data: 'political_status' },
            { data: 'educational_background' },
            { data: 'id_number' },
            { data: 'email' }

        ],
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },

    });

    /*产品-添加*/
    function product_add(title,url){

        url="__MODULE__/PersonalRecord/"+url;
        //alert(url);
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
</script>
</html>